<a href="https://colab.research.google.com/github/RahulJuluru2/Unit1Assignments/blob/main/Copy_of_U1W5_18_Bagging_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint
### Not for Grading

## Learning Objective

At the end of the experiment, you will be able to :

* perform Data Pre-processing
* perform Bagging classifier

## Dataset

### Description

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of many passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

Build a predictive model that answers the question: “what sort of people were more likely to survive?” using titanic's passenger data (ie name, age, gender, socio-economic class, etc).

<br/>

### Data Set Characteristics:

**PassengerId:** Id of the Passenger

**Ticket_Class:** Socio-economic status (SES)
  * 1st = Upper
  * 2nd = Middle
  * 3rd = Lower

**Name:** Surname, First Names of the Passenger

**Sex:** Gender of the Passenger

**Age:** Age of the Passenger

**Siblings_Spouse:**	No. of siblings/spouse of the passenger aboard the Titanic	

**Parents_Children:**	No. of parents / children of the passenger aboard the Titanic	

**Ticket_Number:**	Ticket number

**Fare:** Passenger fare

**Cabin:**	Cabin number

**Embarked:** Port of Embarkation

**Survived:** Survived or Not information

## Setup Steps

In [1]:
#@title Please enter your registration id to start: { run: "auto", display-mode: "form" }
Id = "2216842" #@param {type:"string"}

In [2]:
#@title Please enter your password (normally your phone number) to continue: { run: "auto", display-mode: "form" }
password = "9959488784" #@param {type:"string"}

In [3]:
#@title Run this cell to complete the setup for this Notebook
from IPython import get_ipython
import warnings
warnings.filterwarnings("ignore")

ipython = get_ipython()
  
notebook= "U1W5_18_Bagging_Classifier" #name of the notebook
Answer = "Ungraded"
def setup():
    from IPython.display import HTML, display
    ipython.magic("sx wget https://cdn.iiith.talentsprint.com/aiml/Experiment_related_data/Titanic.csv")
    display(HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id)))
    print("Setup completed successfully")
    return

def submit_notebook():
    
    ipython.magic("notebook -e "+ notebook + ".ipynb")
    
    import requests, json, base64, datetime

    url = "https://dashboard.talentsprint.com/xp/app/save_notebook_attempts"
    if not submission_id:
      data = {"id" : getId(), "notebook" : notebook, "mobile" : getPassword()}
      r = requests.post(url, data = data)
      r = json.loads(r.text)

      if r["status"] == "Success":
          return r["record_id"]
      elif "err" in r:        
        print(r["err"])
        return None        
      else:
        print ("Something is wrong, the notebook will not be submitted for grading")
        return None

    elif getAnswer() and getComplexity() and getAdditional() and getConcepts():
      f = open(notebook + ".ipynb", "rb")
      file_hash = base64.b64encode(f.read())

      data = {"complexity" : Complexity, "additional" :Additional, 
              "concepts" : Concepts, "record_id" : submission_id, 
              "answer" : Answer, "id" : Id, "file_hash" : file_hash,
              "feedback_experiments_input" : Comments, "notebook" : notebook}

      r = requests.post(url, data = data)
      r = json.loads(r.text)
      if "err" in r:        
        print(r["err"])
        return None   
      else:
        print("Your submission is successful.")
        print("Ref Id:", submission_id)
        print("Date of submission: ", r["date"])
        print("Time of submission: ", r["time"])
        print("View your submissions: https://aiml.iiith.talentsprint.com/notebook_submissions")
        # print("For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.")
      return submission_id
    else: submission_id
    

def getAdditional():
  try:
    if not Additional: 
      raise NameError
    else:
      return Additional  
  except NameError:
    print ("Please answer Additional Question")
    return None
def getComments():
  try:
    if not Comments:
      raise NameError
    else:
      return Comments
  except NameError:
    print ("Please answer Comments Question")
    return None

def getComplexity():
  try:
    if not Complexity:
      raise NameError
    else:
      return Complexity
  except NameError:
    print ("Please answer Complexity Question")
    return None
  
def getConcepts():
  try:
    if not Concepts:
      raise NameError
    else:
      return Concepts
  except NameError:
    print ("Please answer Concepts Question")
    return None

def getAnswer():
  try:
    if not Answer:
      raise NameError 
    else: 
      return Answer
  except NameError:
    print ("Please answer Question")
    return None

def getId():
  try: 
    return Id if Id else None
  except NameError:
    return None

def getPassword():
  try:
    return password if password else None
  except NameError:
    return None

submission_id = None
### Setup 
if getPassword() and getId():
  submission_id = submit_notebook()
  if submission_id:
    setup()
    
else:
  print ("Please complete Id and Password cells before running setup")

Setup completed successfully

In [4]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

## Data Pre-Processing

### Exercise 01: Load the data and print the first five records

**Hint:** https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html

In [47]:
# YOUR CODE HERE
titanic_df = pd.read_csv("Titanic.csv")
titanic_df.head(5)

,PassengerId,Ticket_Class,Name,Sex,Age,Siblings_Spouse,Parents_Children,Ticket_Number,Fare,Cabin,Embarked,Survived
0,1,3rd class,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,Southampton,No
1,2,1st class,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,Cherbourg,Yes
2,3,3rd class,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,Southampton,Yes
3,4,1st class,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,Southampton,Yes
4,5,3rd class,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,Southampton,No

### Exercise 02: Data Cleaning

* Generate [Descriptive Statistics](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) of the dataframe

* Count [NaN values in each column](https://stackoverflow.com/a/26266451) of the dataframe

* Fill the blanks in the age column as follows:
  * Fill the age of the survived people with the average age of the survived people
  * Similarly, fill the remaining blanks with the average age of not survived people

  **Hint:** [DataFrame.where](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.where.html) for replacing values with the **`False`** condition

* Drop unnecessary columns which are not contributing for the prediction of a person survival

* Make sure the final dataframe does not have any null or nan values. Delete the rows which has missing values.

*  **Example:**
  * PassengerId column can never decide survival of a person, hence it can be dropped

In [48]:
# Generate descriptive statistics of dataframe
titanic_df.describe()

       PassengerId         Age  Siblings_Spouse  Parents_Children        Fare
count   891.000000  714.000000       891.000000        891.000000  891.000000
mean    446.000000   29.699118         0.523008          0.381594   32.204208
std     257.353842   14.526497         1.102743          0.806057   49.693429
min       1.000000    0.420000         0.000000          0.000000    0.000000
25%     223.500000   20.125000         0.000000          0.000000    7.910400
50%     446.000000   28.000000         0.000000          0.000000   14.454200
75%     668.500000   38.000000         1.000000          0.000000   31.000000
max     891.000000   80.000000         8.000000          6.000000  512.329200

In [51]:
# Count NaN values in each column
nan_values = titanic_df.isna().sum()
with pd.option_context("display.max_rows",None):
  display(nan_values)

PassengerId           0
Ticket_Class          0
Name                  0
Sex                   0
Age                 177
Siblings_Spouse       0
Parents_Children      0
Ticket_Number         0
Fare                  0
Cabin               687
Embarked              0
Survived              0
dtype: int64

In [52]:
# Fill the age column
titanic_df['Survived'].unique()

# Ge the average age of survived person
average_age_survived_people = titanic_df[titanic_df['Survived'].isin(['Yes'])].loc[:,["Age"]].mean()
req_avg_age_survived = average_age_survived_people.at["Age"]

# Get the average age of unsurvived person
avg_age_unsurvived_person = titanic_df[titanic_df["Survived"].isin(['No'])].loc[:,["Age"]].mean()
req_avg_age_unsurvived = avg_age_unsurvived_person.at["Age"]

# Check row count with age of survived people na
count = titanic_df[titanic_df['Survived'].isin(['Yes']) & titanic_df['Age'].isna()].shape[0]

In [ ]:
# fill up the age values
with pd.option_context("display.max_columns",None):
  display(titanic_df[titanic_df['Survived'].isin(['Yes']) & titanic_df["Age"].isna()])

titanic_df["Age"] = np.where(titanic_df['Survived'].isin(['Yes']) & titanic_df["Age"].isna(), average_age_survived_people, titanic_df["Age"])
titanic_df["Age"] = np.where(titanic_df['Survived'].isin(['No']) & titanic_df["Age"].isna(), avg_age_unsurvived_person, titanic_df["Age"])

In [55]:
# Removing passengerId , name ,ticket_Number as it has no impact on overall survival
titanic_df.drop(labels=["PassengerId","Name","Ticket_Number"],axis=1,inplace=True)

# Identify highly correlated values
with pd.option_context("display.max_columns",None):
  display(titanic_df.head(2))

,Ticket_Class,Sex,Age,Siblings_Spouse,Parents_Children,Fare,Cabin,Embarked,Survived
0,3rd class,male,22.0,1,0,7.2500,NaN,Southampton,No
1,1st class,female,38.0,1,0,71.2833,C85,Cherbourg,Yes

In [ ]:
# Check if any column does not have nan value
# Fill up the Cabin column with max occured value
titanic_df["Cabin"].fillna(titanic_df["Cabin"].value_counts().index[0],inplace=True) 

# Check if nan value in any of the column
print(titanic_df.isnull().values.any())

'''
with pd.option_context("display.max_columns",None):
  nan_value = titanic_df.isnull()
  display(nan_value)
'''

### Exercise 03: Convert categorical values to numerical
**Hint:** Use [Sklearn LabelEncoder's](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html) fit_transform method

In [87]:
# YOUR CODE HERE
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# Fetch categorical columns
cols = titanic_df.columns
num_cols = titanic_df._get_numeric_data().columns
cat_cols = list(set(cols) - set(num_cols))
for categorical_column in cat_cols:
  titanic_df[categorical_column] = le.fit_transform(titanic_df[categorical_column])

# Identify highly correlated values
with pd.option_context("display.max_columns",None):
  display(titanic_df.head(2))

,Ticket_Class,Sex,Age,Siblings_Spouse,Parents_Children,Fare,Cabin,Embarked,Survived
0,2,1,22.0,1,0,7.2500,47,2,0
1,0,0,38.0,1,0,71.2833,81,0,1

### Exercise 04:  Consider the target labels as **Survived Column** and remaining as the features 

* Print the shape of the features and labels

In [88]:
# YOUR CODE HERE
X = titanic_df.drop("Survived",axis=1)
y = titanic_df["Survived"]

print("{0} is shape of features".format(X.shape))
print("{0} is shape of label".format(y.shape))

(891, 8) is shape of features
(891,) is shape of label

### Exercise 05:  Split the data into train and test sets

In [89]:
from sklearn.model_selection import train_test_split

# YOUR CODE HERE
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

### Exercise 06: Build the classification model using bagging technique

In [90]:
from sklearn.ensemble import BaggingClassifier

Bag = BaggingClassifier()

# YOUR CODE HERE to fit and predict
Bag.fit(X_train,y_train)
y_pred = Bag.predict(X_test)

In [91]:
# YOUR CODE HERE to find the Accuracy of the Bagging Classifier 
print("Accuracy score received:", accuracy_score(y_pred,y_test))

Accuracy score received: 0.8212290502793296

## Please answer the questions below to complete the experiment:

In [76]:
#@title How was the experiment? { run: "auto", form-width: "500px", display-mode: "form" }
Complexity = "Good and Challenging for me" #@param ["","Too Simple, I am wasting time", "Good, But Not Challenging for me", "Good and Challenging for me", "Was Tough, but I did it", "Too Difficult for me"]

In [84]:
#@title If it was too easy, what more would you have liked to be added? If it was very difficult, what would you have liked to have been removed? { run: "auto", display-mode: "form" }
Additional = "everything looks good" #@param {type:"string"}

In [85]:
#@title Can you identify the concepts from the lecture which this experiment covered? { run: "auto", vertical-output: true, display-mode: "form" }
Concepts = "Yes" #@param ["","Yes", "No"]

In [86]:
#@title  Text and image description/explanation and code comments within the experiment: { run: "auto", vertical-output: true, display-mode: "form" }
Comments = "Very Useful" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [92]:
#@title Run this cell to submit your notebook  { vertical-output: true }
try:
  if submission_id:
      return_id = submit_notebook()
      if return_id : submission_id =return_id
  else:
      print("Please complete the setup first.")
except NameError:
  print ("Please complete the setup first.")

Your submission is successful.
Ref Id: 786
Date of submission:  12 Jun 2022
Time of submission:  15:51:18
View your submissions: https://aiml.iiith.talentsprint.com/notebook_submissions