<a href="https://colab.research.google.com/github/RahulJuluru2/Unit1Assignments/blob/main/U1W3_10_KNN_DT_LC_Zoo_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification in AIML
## A Program by IIIT-H and TalentSprint
## Not for grading

### Learning Objectives

At the end of the experiment, you will be able to :

*  Apply Decision Tree , KNN and Linear Classifier on Zoo dataset

### Dataset

#### Description


In this experiment we will be using a Zoo dataset. The "type" attribute appears to be the class attribute. Here is a breakdown of which animals are in which type:


1 -- Mammals (41) aardvark, antelope, bear, boar, buffalo, calf, cavy, cheetah, deer, dolphin, elephant, fruitbat, giraffe, girl, goat, gorilla, hamster, hare, leopard, lion, lynx, mink, mole, mongoose, opossum, oryx, platypus, polecat, pony, porpoise, puma, pussycat, raccoon, reindeer, seal, sealion, squirrel, vampire, vole, wallaby,wolf 

2 -- Birds (20) chicken, crow, dove, duck, flamingo, gull, hawk, kiwi, lark, ostrich, parakeet, penguin, pheasant, rhea, skimmer, skua, sparrow, swan, vulture, wren 

3 -- Reptiles (5) pitviper, seasnake, slowworm, tortoise, tuatara 

4 -- Aquatic (13) bass, carp, catfish, chub, dogfish, haddock, herring, pike, piranha, seahorse, sole, stingray, tuna 

5 -- Amphibians (4) frog, frog, newt, toad 

6 -- Insects (8) flea, gnat, honeybee, housefly, ladybird, moth, termite, wasp 

7 -- Arthropods (10) clam, crab, crayfish, lobster, octopus, scorpion, seawasp, slug, starfish, worm

### Setup Steps

In [1]:
#@title Please enter your registration id to start:  { run: "auto", display-mode: "form" }
Id = "2216842" #@param {type:"string"}

In [2]:
#@title Please enter your password (normally your phone number) to continue: { run: "auto", display-mode: "form" }
password = "9959488784" #@param {type:"string"}

In [3]:
#@title Run this cell to complete the setup for this Notebook
from IPython import get_ipython

ipython = get_ipython()
  
notebook= "U1W3_10_KNN_DT_LC_Zoo_data" #name of the notebook
Answer = "Ungraded"
def setup(): 
    ipython.magic("sx wget https://cdn.talentsprint.com/aiml/Experiment_related_data/Zoo_New_1.csv")
    ipython.magic("sx apt-get install graphviz")
    ipython.magic("sx pip install graphviz")
    from IPython.display import HTML, display
    display(HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id)))
    print("Setup completed successfully")
    return

def submit_notebook():
    
    ipython.magic("notebook -e "+ notebook + ".ipynb")
    
    import requests, json, base64, datetime

    url = "https://dashboard.talentsprint.com/xp/app/save_notebook_attempts"
    if not submission_id:
      data = {"id" : getId(), "notebook" : notebook, "mobile" : getPassword()}
      r = requests.post(url, data = data)
      r = json.loads(r.text)

      if r["status"] == "Success":
          return r["record_id"]
      elif "err" in r:        
        print(r["err"])
        return None        
      else:
        print ("Something is wrong, the notebook will not be submitted for grading")
        return None

    elif getAnswer() and getComplexity() and getAdditional() and getConcepts():
      f = open(notebook + ".ipynb", "rb")
      file_hash = base64.b64encode(f.read())

      data = {"complexity" : Complexity, "additional" :Additional, 
              "concepts" : Concepts, "record_id" : submission_id, 
              "answer" : Answer, "id" : Id, "file_hash" : file_hash,
              "feedback_experiments_input" : Comments, "notebook" : notebook}

      r = requests.post(url, data = data)
      r = json.loads(r.text)
      if "err" in r:        
        print(r["err"])
        return None   
      else:
        print("Your submission is successful.")
        print("Ref Id:", submission_id)
        print("Date of submission: ", r["date"])
        print("Time of submission: ", r["time"])
        print("View your submissions: https://aiml.iiith.talentsprint.com/notebook_submissions")
        # print("For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.")
      return submission_id
    else: submission_id
    

def getAdditional():
  try:
    if not Additional: 
      raise NameError
    else:
      return Additional  
  except NameError:
    print ("Please answer Additional Question")
    return None
def getComments():
  try:
    if not Comments:
      raise NameError
    else:
      return Comments
  except NameError:
    print ("Please answer Comments Question")
    return None

def getComplexity():
  try:
    if not Complexity:
      raise NameError
    else:
      return Complexity
  except NameError:
    print ("Please answer Complexity Question")
    return None
  
def getConcepts():
  try:
    if not Concepts:
      raise NameError
    else:
      return Concepts
  except NameError:
    print ("Please answer Concepts Question")
    return None

def getAnswer():
  try:
    if not Answer:
      raise NameError 
    else: 
      return Answer
  except NameError:
    print ("Please answer Question")
    return None

def getId():
  try: 
    return Id if Id else None
  except NameError:
    return None

def getPassword():
  try:
    return password if password else None
  except NameError:
    return None

submission_id = None
### Setup 
if getPassword() and getId():
  submission_id = submit_notebook()
  if submission_id:
    setup()
    
else:
  print ("Please complete Id and Password cells before running setup")

Setup completed successfully

### Import required packages

In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import linear_model
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

### Load the dataset

In [5]:
dataset = pd.read_csv('Zoo_New_1.csv')
dataset.head()

,animal_name,hair,feathers,eggs,milk,airbone,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [6]:
"""We don't use animal name for classification because it is just a string stating the 
  name and it won't provide any extra information for classification in this context
  omitting the fist column which consists the names of the animals"""

# YOUR CODE HERE: To drop the 'animal_name' column from the data
animals_df = dataset.drop(columns=["animal_name"])
animals_df.columns

Index(['hair', 'feathers', 'eggs', 'milk', 'airbone', 'aquatic', 'predator',
       'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail',
       'domestic', 'catsize', 'class'],
      dtype='object')

Lets check for the unique classes ( labels ) present in the dataset

In [7]:
# YOUR CODE HERE: To print the unique classes in the dataset
unique_class = animals_df["class"].unique()
unique_class

array([1, 4, 2, 7, 6, 5, 3])

Get the features and labels of the dataset

In [8]:
# YOUR CODE HERE: To consider the first 15 columns as features
X = animals_df.iloc[:,0:15]

# YOUR CODE HERE: To consider the 16th column (class) as labels 
y = animals_df.iloc[:,16:]

print(X.shape)
print(y.shape)

(101, 15)
(101, 1)

### Split the datasets into train and test

In [9]:
# YOUR CODE HERE: To split the data in to train and test sets with 80:20 ratio
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=43)

### Apply a Decision Tree Classifier

In [10]:
# YOUR CODE HERE: To create an object for the decision tree classifier
dr = DecisionTreeClassifier(max_depth=2)

# YOUR CODE HERE: To fit training data to the model
dr.fit(X_train,y_train)

# YOUR CODE HERE: To get the predictions on the test data
y_pred = dr.predict(X_test)

In [11]:
# # YOUR CODE HERE: To calculate the accuracy
quality_score = accuracy_score(y_pred,y_test)
quality_score

0.8095238095238095

### Exercise 1

Change the train and test split ratio and classify the data using Decision Tree to observe the change in accuracy

In [13]:
# YOUR CODE HERE
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=34)
dr = DecisionTreeClassifier(max_depth=3)
dr.fit(X_train,y_train)
y_pred = dr.predict(X_test)
quality_score_iter2 = accuracy_score(y_pred,y_test)
quality_score_iter2

0.9032258064516129

### Exercise 2

Use the same train and test split ratio and classify the data using KNN

In [15]:
# YOUR CODE HERE
knn = KNeighborsClassifier(n_neighbors=5,metric="manhattan")
knn.fit(X_train,y_train)
y_pred_knn = knn.predict(X_test)
quality_score_knn = accuracy_score(y_pred_knn,y_test)
quality_score_knn

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.9032258064516129

### Exercise 3

Use the same train and test split ratio and classify the data using Linear classifier

In [17]:
from sklearn.linear_model import SGDClassifier

In [19]:
# YOUR CODE HERE
lr = SGDClassifier(random_state=42)
lr.fit(X_train,y_train)
y_pred_lr = lr.predict(X_test)
quality_score_lr = accuracy_score(y_pred_lr,y_test)
quality_score_lr

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0

# Please answer the questions below to complete the experiment

In [20]:
#@title How was the experiment? { run: "auto", form-width: "500px", display-mode: "form" }
Complexity = "Good and Challenging for me" #@param ["","Too Simple, I am wasting time", "Good, But Not Challenging for me", "Good and Challenging for me", "Was Tough, but I did it", "Too Difficult for me"]

In [21]:
#@title If it was too easy, what more would you have liked to be added? If it was very difficult, what would you have liked to have been removed? { run: "auto", display-mode: "form" }
Additional = "Everything is good" #@param {type:"string"}

In [22]:
#@title Can you identify the concepts from the lecture which this experiment covered? { run: "auto", vertical-output: true, display-mode: "form" }
Concepts = "Yes" #@param ["","Yes", "No"]

In [23]:
#@title  Text and image description/explanation and code comments within the experiment: { run: "auto", vertical-output: true, display-mode: "form" }
Comments = "Very Useful" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [24]:
#@title Run this cell to submit your notebook  { vertical-output: true }
try:
  if submission_id:
      return_id = submit_notebook()
      if return_id : submission_id =return_id
  else:
      print("Please complete the setup first.")
except NameError:
  print ("Please complete the setup first.")

Your submission is successful.
Ref Id: 472
Date of submission:  28 May 2022
Time of submission:  14:51:37
View your submissions: https://aiml.iiith.talentsprint.com/notebook_submissions